<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lekcja
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div id="chessboard">
    
  </div>

  <app-chessboard></app-chessboard>

</ion-content>

<ion-tabs id="tabs">
  <ion-tab-bar id="tabBar" slot="bottom">
    <ion-tab-button tab="tab1" href="../tab1/tab1.page.html">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>Gra</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="../tab2/tab2.page.html">
      <ion-icon name="dice-outline"></ion-icon>
      <ion-label>Zadanka</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="../tab3/tab3.page.html">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Lekcja</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="../tab4/tab4.page.html">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
