<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ja</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" #avatar>
  </ion-avatar><br>
  <h2>Staystyki w grze Eater:</h2>
  <ion-list>
    <ion-item>
      <ion-label class="statsProfile"><strong class="statsNumber">{{ statsEater.completed }}</strong> Ukończonych zadań: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="statsProfile"><strong class="statsNumber">{{ statsEater.clickedRight }}</strong> Poprawnie zaznaczonych bierek: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="statsProfile"><strong class="statsNumber">{{ statsEater.clickedWrong }}</strong> Błędnie zaznaczonych bierek:</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="handleButtonClick()"><ion-icon name="log-out-outline"></ion-icon>Wyloguj</ion-button>
</ion-content>
