#board{
    width:244px;
    background-color: gray;
    height: 244px;
    border: 2px lightblue solid;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
  }
  .file{
      width:30px;
      height:30px;
      background-color: brown;
  }