<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lekcje
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div id="przyciskiWrapper">
    <ion-item><ion-tab-button href="line-selector"><ion-icon name="school"></ion-icon>Zaznaczanie linii</ion-tab-button></ion-item>
    <ion-item><ion-tab-button><ion-icon name="school"></ion-icon>Uzupełnianie linii</ion-tab-button></ion-item>
  </div>

  <div id="chessboard">
    
  </div>

</ion-content>





