#board{
    width:275px;
    height:275px;
    display: flex;
    flex-wrap: wrap;
}
.greenTile{
    background : #0F0;
    opacity : 0.5;
    width : 34px;
    height: 34px;
    margin : auto;
    border-radius : 5px;
    margin-top : 2px;
}