.white {
    background-color: rgb(97, 84, 61);
    width: 34.5px;
    height: 34.5px;
    display: inline-block;
}
.black {
    background-color: #BAA378;
    width: 34.5px;
    height: 34.5px;
    display: inline-block;
}
#chessBoardComponent {
    width: 276px;
    height: 276px;
    
    display: flex;
    flex-wrap: wrap;
}