<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zadanka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Zadanka</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-item>
      <ion-button>Ranking: 1337</ion-button>
    </ion-item>

    <ngx-chess-board #board
      [size] = "screenWidth"
      (moveChange)="onPieceMove()"
    ></ngx-chess-board>

    <ion-item>
    <ion-button><ion-icon name="list"></ion-icon>Wszystkie zadania</ion-button>
    <ion-button><ion-icon name="stats-chart"></ion-icon>Statystyki</ion-button>
    </ion-item>
  </div>
</ion-content>
